<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" style="overflow: scroll;overflow-x: auto;">

	<head>
		<meta http-equiv="x-ua-compatible" content="ie=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--引用CSS文件START-->
		<!--滚动条样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css" />
		<link type="text/css" rel="stylesheet" href="../../resources/wordShow/Styles/SyntaxHighlighter.css">
		<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="./resources/css/common/yt-common-ie.min.css"/><![endif]-->
		<!--引用CSS文件END-->
		<title>前端框架规整</title>
	</head>

	<body>
<div class="web-criterion-model">
	<div class="method-text">checkbox标签：</div>
	<!--基础表单标签规范START-->
	<p>1.使用条件:</p>
	<div class="label-code-div-first" style="height: auto">
		<table class="yt-table">
			<thead class="yt-thead the-inner">
				<tr>
					<th width="500px">文件名</th>
					<th width="500px">文件路径</th>
					<th width="400px">文件描述</th>
				</tr>
			</thead>
			<tbody class="yt-tbody">
				<tr>
					<td><div><a>yt-common.min.css</a></div></td>
					<td>resources/css/common/yt-common.min.css</td>
					<td><div>引用公用的样式文件</div></td>
				</tr>
				<tr>
					<td><div><a>jquery.min.js</a></div></td>
					<td>resources/js/common/jquery.min.js</td>
					<td><div>引用jquery的js文件</div></td>
				</tr>
				<tr>
					<td><div><a>yt-common.min.js</a></div></td>
					<td>resources/js/common/yt-common.min.js</td>
					<td><div>引用公用的js文件</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>2.类样式说明:</p>
	<div class="label-code-div-first" style="height: auto">
		<table class="yt-table">
			<thead class="yt-thead the-inner">
				<tr>
					<th width="200px">类名</th>
					<th width="580px">描述</th>
				</tr>
			</thead>
			<tbody class="yt-tbody">
				<tr>
					<td>
						<div>.check-label .yt-checkbox</div>
					</td>
					<td>
						<div>复选框通用类名、默认样式</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>.check</div>
					</td>
					<td>
						<div>默认选中</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>.yt-check-disabled</div>
					</td>
					<td>
						<div>禁用</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>.yt-checkbox-half</div>
					</td>
					<td>
						<div>半选</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>3.调用方法:</p>
	<div class="label-code-div-first" style="height: auto">
		<table class="yt-table">
			<thead class="yt-thead the-inner">
				<tr>
					<th width="200px">方法名</th>
					<th width="200px">参数类型</th>
					<th width="400px">参数描述</th>
				</tr>
			</thead>
			<tbody class="yt-tbody">
				<tr>
					<td>
						<div>setCheckBoxState()</div>
					</td>
					<td>
						<div>string</div>
					</td>
					<td>
						<div>
							目前有7个固定参数值:<br/> check(选中),
							<br /> uncheck(取消选中),
							<br /> disabled(禁用),
							<br /> checkAll(全选),
							<br /> unCheckAll(取消全选),
							<br />undisabled(取消禁用),
							<br /> half(半选)
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>4.代码展现:</p>
	<div class="label-code-div">
		<textarea cols="50" rows="15" name="code" class="javaScript">
			  <label class="check-label yt-checkbox check">
						<input id="checkBox1" type="checkbox" name="test" value="0"/>选中
			  </label>
					<label class="check-label yt-checkbox">
				    	<input id="checkBox2" type="checkbox" name="test" value="1"/>未选中
					</label>
					<label class="check-label yt-checkbox yt-check-disabled">
			    		<input id="checkBox2" type="checkbox" name="test"  value="2" disabled="disabled"/>禁用
					</label>
					<label class="check-label yt-checkbox yt-checkbox-half">
			    		<input id="checkBox2" type="checkbox" name="test" value="3"/>半选
					</label>
					<div class="bot-fun-btn" style="text-align: left;padding: 35px 20px 20px 85px;">
						 <button class="yt-option-btn" onclick="setCheckBoxCheck()">设置选中</button>
						 <button class="yt-option-btn" onclick="setCheckBoxUnCheck()">取消选中</button>
						 <button class="yt-option-btn" onclick="setCheckBoxHalf()">半选</button>
						 <button class="yt-option-btn" onclick="setCheckBoxDisabled()">禁用</button>
						 <button class="yt-option-btn" onclick="setCheckBoxUnDisabled()">取消禁用</button>
						 <button class="yt-option-btn" onclick="getCheckVals()">获取选中的值</button>
					</div>
					<script type="text/javascript">
             /**
              * 
              * 设置复选框选中
              * 
              */
             function  setCheckBoxCheck(){
             	$("#checkBox1").setCheckBoxState("check");
             }
             /**
              * 
              * 设置复选框取消选中
              * 
              */
             function  setCheckBoxUnCheck(){
             	$("#checkBox1").setCheckBoxState("uncheck");
             }
             /**
              * 
              * 
              * 设置复选框半选
              * 
              * 
              */
             function  setCheckBoxHalf(){
             	$("#checkBox1").setCheckBoxState("half");
             }
             /**
              * 
              * 设置复选框禁用
              * 
              */
            function  setCheckBoxDisabled(){
            	$("#checkBox1").setCheckBoxState("disabled");
            }
            /**
			 * 
			 * 取消禁用
			 * 
			 */
			function setCheckBoxUnDisabled(){
				$("#checkBox1").setCheckBoxState("undisabled");
			}
			/**
			 * 
			 * 获取选中的值
			 * 
			 */
			function getCheckVals(){
				var checkVals = $(".check-label.check input").val();
				alert(checkVals);
			}
	</script>
				</textarea>
	</div>
	<p>5.展示效果:</p>
	<div class="base-form-model" style="padding-left: 80px;">
			<label class="check-label yt-checkbox check">
			    		<input id="checkBox1" type="checkbox" name="test" value="0"/>
			    		选中
			    	</label>
			<label class="check-label yt-checkbox">
			    		<input id="checkBox2" type="checkbox" name="test" value="1"/>
			    		未选中
		    		</label>
			<label class="check-label yt-checkbox yt-check-disabled">
			    		<input id="checkBox2" type="checkbox" name="test" value="2" disabled="disabled"/>
			    		禁用
		    		</label>
			<label class="check-label yt-checkbox yt-checkbox-half">
			    		<input id="checkBox2" type="checkbox" name="test" value="3"/>
			    		半选
		    		</label>
	</div>
	<div style="clear: both;"></div>
	<div class="bot-fun-btn" style="text-align: left;padding: 35px 20px 20px 80px;">
		<button class="yt-option-btn" onclick="setCheckBoxCheck()">设置选中</button>
		<button class="yt-option-btn" onclick="setCheckBoxUnCheck()">取消选中</button>
		<button class="yt-option-btn" onclick="setCheckBoxHalf()">半选</button>
		<button class="yt-option-btn" onclick="setCheckBoxDisabled()">禁用</button>
		<button class="yt-option-btn" onclick="setCheckBoxUnDisabled()">取消禁用</button>
		<button class="yt-option-btn" onclick="getCheckVals()">获取选中的值</button>
	</div>
	<div class="method-text">全选和反选示例：</div>
	<p>1.代码展现</p>
	<div class="label-code-div">
		<textarea cols="50" rows="15" name="code" class="javaScript">
			<table class="yt-table check-test-tab" style="width: 850px;margin: 20px auto;">
				 <thead class="yt-thead">
				 	 <tr>
				  	   <th> 
				  	   	<label class="check-label yt-checkbox parent-check">  
		                    <input type="checkbox" class="check-all" name="test" value=""/>
		                </label>  
				  	   </th>
				  	   <th>预算编号</th>
				  	   <th>预算表名称</th>
				 	</tr>
				 </thead>
				 <tbody class="yt-tbody">
				 	<tr>
				 		<td>
				 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
				 		</td>
				 		<td>T27</td>
				 		<td>预算总表</td>
				 	</tr>
				 	<tr>
				 		<td>
				 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
				 		</td>
				 		<td>T28</td>
				 		<td>人员支出</td>
				 	</tr>
				 	<tr>
				 		<td>
				 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
				 		</td>
				 		<td>T29</td>
				 		<td>住房改革支出1</td>
				 	</tr>
				 	<tr>
				 		<td>
				 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
				 		</td>
				 		<td>T30</td>
				 		<td>住房改革支出2</td>
				 	</tr>
				 	<tr>
				 		<td>
				 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
				 		</td>
				 		<td>T31</td>
				 		<td>住房改革支出3</td>
				 	</tr>
				 	<tr>
				 		<td>
				 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
				 		</td>
				 		<td>T32</td>
				 		<td>公用支出</td>
				 	</tr>
				 </tbody> 
			</table>
			<script type="text/javascript">
	           $(function(){
				//全选
				$(".parent-check").change(function(){
					//判断自己是否被选中
					if($(this).hasClass("check")){
						//设置反选
						$("table.check-test-tab tbody").setCheckBoxState("unCheckAll"); 
					}else{
						//调用设置选中方法,全选
						$("table.check-test-tab tbody").setCheckBoxState("checkAll"); 
					}
				});
				/*
				 * 
				 * 表格中复选框操作
				 * 
				 */
				//获取区域复选框数量,用来比较
				var  tableCheckLen = $("table.check-test-tab tbody label.yt-checkbox").length;
				$("table.check-test-tab tbody label.yt-checkbox").off().on("change",function(){
					if($(this).hasClass("check")){
						//取消全选
						$("input.check-all").prop("checked",false).setCheckBoxState("uncheck");
					}else{
						//设置当前复选框选中
						$(this).find("input").setCheckBoxState("check");
						//比对选中的复选框数量和区域内复选框数量
						if($("table.check-test-tab tbody label.yt-checkbox.check").length == tableCheckLen){
							//设置反选
							$("input.check-all").prop("checked",true).setCheckBoxState("check");
						}
					}
				});
		    });
	</script>
				</textarea>
	</div>
	<p>2.展示效果:</p>
	<div class="" style="padding: 0 10px;">
		<table class="yt-table check-test-tab" style="width: 100%;margin: 20px auto;">
			 <thead class="yt-thead">
			 	 <tr>
			  	   <th> 
			  	   	<label class="check-label yt-checkbox parent-check">  
	                    <input type="checkbox" class="check-all" name="test" value=""/>
	                </label>  
			  	   </th>
			  	   <th>预算编号</th>
			  	   <th>预算表名称</th>
			 	</tr>
			 </thead>
			 <tbody class="yt-tbody">
			 	<tr>
			 		<td>
			 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
			 		</td>
			 		<td>T27</td>
			 		<td>预算总表</td>
			 	</tr>
			 	<tr>
			 		<td>
			 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
			 		</td>
			 		<td>T28</td>
			 		<td>人员支出</td>
			 	</tr>
			 	<tr>
			 		<td>
			 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
			 		</td>
			 		<td>T29</td>
			 		<td>住房改革支出1</td>
			 	</tr>
			 	<tr>
			 		<td>
			 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
			 		</td>
			 		<td>T30</td>
			 		<td>住房改革支出2</td>
			 	</tr>
			 	<tr>
			 		<td>
			 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
			 		</td>
			 		<td>T31</td>
			 		<td>住房改革支出3</td>
			 	</tr>
			 	<tr>
			 		<td>
			 			<label class="check-label yt-checkbox"><input type="checkbox" name="test" value=""/></label>  
			 		</td>
			 		<td>T32</td>
			 		<td>公用支出</td>
			 	</tr>
			 </tbody> 
		</table>
	</div>
</div>
</body>

</html>
<!--引用JS文件START-->
<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
<!--滚动条js-->
<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
<!--引用换肤js-->
<script type="text/javascript" id="themeJs"></script>
<script type="text/javascript" src="../../resources/js/common/yt-common.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js"></script>
<script type="text/javascript" src="../../resources/wordShow/Scripts/shCore.js"></script>
<!--引用JS文件END-->
<script type="text/javascript">
	//动态引用换肤JS主系统的
	document.getElementById("themeJs").src = $yt_themeJs_path;  
	/**
	 * 
	 * 设置复选框选中
	 * 
	 */
	function setCheckBoxCheck() {
		$("#checkBox1").setCheckBoxState("check");
	}
	/**
	 * 
	 * 设置复选框取消选中
	 * 
	 */
	function setCheckBoxUnCheck() {
		$("#checkBox1").setCheckBoxState("uncheck");
	}
	/**
	 * 
	 * 
	 * 设置复选框半选
	 * 
	 * 
	 */
	function setCheckBoxHalf() {
		$("#checkBox1").setCheckBoxState("half");
	}
	/**
	 * 
	 * 设置复选框禁用
	 * 
	 */
	function setCheckBoxDisabled() {
		$("#checkBox1").setCheckBoxState("disabled");
	}
	/**
	 * 
	 * 取消禁用
	 * 
	 */
	function setCheckBoxUnDisabled(){
		$("#checkBox1").setCheckBoxState("undisabled");
	}
	/**
	 * 
	 * 获取选中的值
	 * 
	 */
	function getCheckVals(){
		var checkVals = $(".check-label.check input").val();
		alert(checkVals);
	}
	$(function(){
		//全选
		$(".parent-check").change(function(){
			//判断自己是否被选中
			if($(this).hasClass("check")){
				//设置反选
				$("table.check-test-tab tbody").setCheckBoxState("unCheckAll"); 
			}else{
				//调用设置选中方法,全选
				$("table.check-test-tab tbody").setCheckBoxState("checkAll"); 
			}
		});
		/*
		 * 
		 * 表格中复选框操作
		 * 
		 */
		//获取区域复选框数量,用来比较
		var  tableCheckLen = $("table.check-test-tab tbody label.yt-checkbox").length;
		$("table.check-test-tab tbody label.yt-checkbox").off().on("change",function(){
			if($(this).hasClass("check")){
				//取消全选
				$("input.check-all").prop("checked",false).setCheckBoxState("uncheck");
			}else{
				//设置当前复选框选中
				$(this).find("input").setCheckBoxState("check");
				//比对选中的复选框数量和区域内复选框数量
				if($("table.check-test-tab tbody label.yt-checkbox.check").length == tableCheckLen){
					//设置反选
					$("input.check-all").prop("checked",true).setCheckBoxState("check");
				}
			}
		});
	});
</script>