<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="x-ua-compatible" content="ie=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--引用CSS文件START-->
		<!--滚动条样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css?YTVERSIONCODE=20180420" />
		<!--日期样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/css/calendar/yt-calendar.css" />
		<!--分页样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/css/page/yt-page.min.css" />
		<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="../../resources/css/common/yt-common-ie.min.css"/><![endif]-->
		<!--最后引用自己页面的css样式压缩文件，且加上版本号?YTVERSIONCODE=20180420-->
		<link rel="stylesheet" type="text/css" href="../../resources/css/system/browseVol/browseDetailed.min.css?YTVERSIONCODE=20190320" />
		<!--引用CSS文件END-->
		<title>前端开发体系建设平台</title>
	</head>

	<body>
		<!--页面主要主体START-->
		<div class="main-model">
			<!--写页面按区域划分，且每个区域都要加上注释，START开始END结束-->
			<!--上方表单区域START-->
			<div class="top-form">
				<div class="top-form-fir">
					<div class="select-form-item"><label>规范项/控件项：</label>
						<select class="yt-select test-select select-code">
							<option value="">全部</option>
						</select>
					</div>
					<div class="select-form-item">
						<select class="yt-select test-select select-name">
							<option value="">全部</option>
						</select>
					</div>

					<div class="select-form-item">
						<label>人员：</label>
						<select class="yt-select test-select select-safe">
							<option value="">全部</option>
						</select>
					</div>
				</div>
				<div style="clear: both;"></div>
				<div class="top-form-second">
					<label>日期：</label><input id="txtDate1" class="calendar-input" style="width: 150px;" value="" placeholder="请选择月份" type="text" />
					<span>一</span>
					<input id="txtDate2" class="calendar-input" style="width: 150px;" value="" placeholder="请选择月份" type="text" />
					<button class="yt-option-btn query-btn" onselectstart="return false" style="margin-left: 40px;">查询</button>
					<button class="yt-assist-btn assist-btn" onselectstart="return false" style="margin-left: 5px;">重置</button>
				</div>
			</div>
			<!--上方表单区域END-->
			<!--隔断背景颜色-->
			<div class="background-border"></div>
			<!--下方查询明细列表START-->
			<table class="yt-table payment-table" style="width: 100%;">
				<thead class="yt-thead">
					<tr>
						<th width="200px">规范项/控件名称</th>
						<th width="100px">浏览人员</th>
						<th width="200px">浏览时间</th>
					</tr>
				</thead>
				<tbody class="yt-tbody">
				</tbody>
			</table>
			<!--分页-->
			<div class="page-info table-page" onselectstart="return false"></div>
			<!--下方查询明细列表END-->
		</div>
		<!--页面主要主体END-->
	</body>
	<!--引用JS文件START-->
	<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
	<!--滚动条js-->
	<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
	<!--引用配置文件-->
	<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
	<!--分页js-->
	<script type="text/javascript" src="../../resources/js/page/yt-page.min.js"></script>
	<!--日期控件-->
	<script type="text/javascript" src="../../resources/js/calendar/yt-calendar.min.js"></script>
	<!--引用换肤js-->
	<script type="text/javascript" id="themeJs"></script>
	<!--引用公用文件-->
	<script type="text/javascript" src="../../resources/js/common/yt-common.min.js?YTVERSIONCODE=2018042601"></script>
	<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js?YTVERSIONCODE=2018042601"></script>
	<!--引用系统公用文件-->
	<script type="text/javascript" src="../../resources/js/common/sysCommon.min.js?YTVERSIONCODE=2018042601"></script>
	<!--最后引用自己页面的js压缩文件,且加上版本号?YTVERSIONCODE=20180420-->
	<script type="text/javascript" src="../../resources/js/system/browseVol/browseDetailed.min.js?YTVERSIONCODE=2019032001"></script>
	<!--引用JS文件END-->
	<script type="text/javascript">
		$(function(){
			//动态调用主系统的换主题JS
			document.getElementById("themeJs").src = $yt_themeJs_path; 
		});
	</script>
</html>