<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" style="overflow: scroll;overflow-x: auto;">

	<head>
		<meta http-equiv="x-ua-compatible" content="ie=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--引用CSS文件START-->
		<!--滚动条样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css" />
		<link type="text/css" rel="stylesheet" href="../../resources/wordShow/Styles/SyntaxHighlighter.css">
		<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="./resources/css/common/yt-common-ie.min.css"/><![endif]-->
		<!--引用CSS文件END-->
		<title>前端框架规整</title>
	</head>

	<body>
		<div class="web-criterion-model">
			<div class="method-text">使用jQuery和ajax代替iframe：</div>
			<p>1.使用目的</p>
			<p style="font-weight: normal;">iframe虽然好用，但是其弊端也很明显，一是它不能使用于响应式布局，iframe的使用必须指定高度，而响应式布局的高度兵分固定的。其次iframe不易被搜索引擎的爬虫解读，特别是iframe中嵌套iframe，这是会被搜索引擎认为是个死网站而被放过。</p>
			<p style="font-weight: normal;">目前主流的应用都使用了ajax代替了iframe。</p>
			<p>2.示例</p>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
			//导航菜单
			<ul class="nav navbar-nav" id="indexMenu">  
			    <li><a target="main/main.html">首页</a></li>  
			    <li><a target="new/new.html">新闻</a></li>  
			    <li><a target="leave/leave.html">留言</a></li>  
			    <li><a target="download/download.html">资料下载</a></li>  
			</ul> 
			//代替iframe的div：
			<div id="iframeContent"></div>
			//使用网络请求获取html代码插入到指定的div中实现iframe效果
			$(function(){  
			    $.get("main/main.html",function(data){  
			        $("#iframeContent").html(data);//初始化加载界面  
			    });  
			      
			    $('#indexMenu li').click(function(){//点击li加载界面  
			        var current = $(this),  
			        target = current.find('a').attr('target'); // 找到链接a中的targer的值  
			        $.get(target,function(data){  
			            $("#iframeContent").html(data);   
			         });  
			    });  
			}); 
		</textarea>
			</div>
			<p>3.注意事项</p>
			<p style="font-weight: normal;">
				1)由于子页面的代码通过请求插入到了父页面,所以资源文件路径已父页面为准
			</p>
			<p style="font-weight: normal;">
				2)注意css,js的权限问题,iframe完全隔绝了父子页面的样式,但这种方法其实最终的效果是一个页面,所以子页面中的css可以影响到父页面,子页面的可以直接调用父页面
			</p>
		</div>
	</body>

</html>
<!--引用JS文件START-->
<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
<!--滚动条js-->
<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
<!--引用换肤js-->
<script type="text/javascript" id="themeJs"></script>
<script type="text/javascript" src="../../resources/js/common/yt-common.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js"></script>
<script type="text/javascript" src="../../resources/wordShow/Scripts/shCore.js"></script>
<!--引用JS文件END-->
<script type="text/javascript">
	document.getElementById("themeJs").src = $yt_themeJs_path;  
</script>		
