<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" style="overflow: scroll;overflow-x: auto;">

	<head>
		<meta http-equiv="x-ua-compatible" content="ie=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--引用CSS文件START-->
		<!--滚动条样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css" />
		<link type="text/css" rel="stylesheet" href="../../resources/wordShow/Styles/SyntaxHighlighter.css">
		<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="./resources/css/common/yt-common-ie.min.css"/><![endif]-->
		<!--引用CSS文件END-->
		<title>前端框架规整</title>
	</head>

	<body>
		<div class="web-criterion-model">
			<div class="method-text">表单页面-登录人信息显示：</div>
			<!--基础表单标签规范START-->
			<p>1.使用条件:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="500px">文件名</th>
							<th width="500px">文件路径</th>
							<th width="400px">文件描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td><div><a>yt-common.min.css</a></div></td>
							<td>resources/css/common/yt-common.min.css</td>
							<td><div>引用公用的样式文件</div></td>
						</tr>
						<tr>
							<td><div><a>jquery.min.js</a></div></td>
							<td>resources/js/common/jquery.min.js</td>
							<td><div>引用jquery的js文件</div></td>
						</tr>
						<tr>
							<td><div><a>yt-common.min.js</a></div></td>
							<td>resources/js/common/yt-common.min.js</td>
							<td><div>引用公用的js文件</div></td>
						</tr>
							<tr>
							<td><div><a>sysCommon.min.js</a></div></td>
							<td>resources/js/common/sysCommon.min.js</td>
							<td><div>引用系统的js文件</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>2.类样式说明:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="300px">类名</th>
							<th width="480px">描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>
								<div>.yt-form-users-info</div>
							</td>
							<td>
								<div>外层类样式</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>3.调用方法:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th>方法名</th>
							<th width="400px">参数</th>
							<th width="400px">参数类型</th>
							<th width="480px">参数说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td rowspan="6">getLoginUserInfo()</td>
							<td>obj</td>
							<td rowspan="6">jquery对象</td>
							<td>存放用户信息区域标签对象</td>
						</tr>
					</tbody>
				</table>
				<table class="yt-table" style="margin-top: 30px;">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="400px">返回值</th>
							<th width="400px">返回值说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>无</td>
							<td>无</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>4.代码展现:</p>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">	
				<div class="yt-form-users-info" style="padding-bottom: 10px;"></div>
				<script type="text/javascript">
					$(function(){
						//调用获取当前用户信息方法,传入区域对象
						sysCommon.getLoginUserInfo($(".yt-form-users-info"));
					});
				</script>
			</textarea>
			</div>
			<p>5.展示效果:</p>
			<div class="yt-form-users-info" style="padding-bottom: 10px;padding-left: 10px;"></div>
			<!--金额转人民币大写方法START-->
			<div class="method-text">金额转人名币大写：</div>
			<p>1.使用条件:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="500px">文件名</th>
							<th width="500px">文件路径</th>
							<th width="400px">文件描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td><div><a>yt-common.min.css</a></div></td>
							<td>resources/css/common/yt-common.min.css</td>
							<td><div>引用公用的样式文件</div></td>
						</tr>
						<tr>
							<td><div><a>jquery.min.js</a></div></td>
							<td>resources/js/common/jquery.min.js</td>
							<td><div>引用jquery的js文件</div></td>
						</tr>
						<tr>
							<td><div><a>yt-common.min.js</a></div></td>
							<td>resources/js/common/yt-common.min.js</td>
							<td><div>引用公用的js文件</div></td>
						</tr>
						<tr>
							<td><div><a>sysCommon.min.js</a></div></td>
							<td>resources/js/common/sysCommon.min.js</td>
							<td><div>引用系统的js文件</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>2.调用方法:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th>方法名</th>
							<th width="400px">参数</th>
							<th width="400px">参数类型</th>
							<th width="480px">参数说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td rowspan="6">arabiaToChinese()</td>
							<td>Num</td>
							<td rowspan="6">字符串</td>
							<td>需要转换的金额值</td>
						</tr>
					</tbody>
				</table>
				<table class="yt-table" style="margin-top: 30px;">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="400px">返回值</th>
							<th width="400px">返回值说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>字符串</td>
							<td>转换后的大写值</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>3.代码展现:</p>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">	
				<label class="yt-read-text">人民币大写：</label><span class="money-up"></sapn>
				<script type="text/javascript">
					//调用金额转大写公用方法
					$(".money-up").text(arabiaToChinese('1,500.00'));
				</script>
			</textarea>
			</div>
			<p>4.展示效果:</p>
			<div style="padding-left: 10px;"><label class="yt-read-text">人民币大写：</label><span class="money-up"></sapn></div>
		    <!--金额格式化处理和反格式化处理START-->
			<div class="method-text" style="margin-top: 30px;">金额格式化处理和反格式化处理：</div>
			<p>1.使用条件:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="500px">文件名</th>
							<th width="500px">文件路径</th>
							<th width="400px">文件描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td><div><a>yt-common.min.css</a></div></td>
							<td>resources/css/common/yt-common.min.css</td>
							<td><div>引用公用的样式文件</div></td>
						</tr>
						<tr>
							<td><div><a>jquery.min.js</a></div></td>
							<td>resources/js/common/jquery.min.js</td>
							<td><div>引用jquery的js文件</div></td>
						</tr>
						<tr>
							<td><div><a>yt-common.min.js</a></div></td>
							<td>resources/js/common/yt-common.min.js</td>
							<td><div>引用公用的js文件</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>2.调用方法:</p>
			<div class="label-code-div-first" style="height: auto">
				<div class="yt-read-text">金额格式化方法：</div>
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th>方法名</th>
							<th width="400px">参数</th>
							<th width="400px">参数类型</th>
							<th width="480px">参数说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td rowspan="6">fmMoney()</td>
							<td>Num</td>
							<td rowspan="6">string</td>
							<td>需要格式化的金额</td>
						</tr>
					</tbody>
				</table>
				<table class="yt-table" style="margin-top: 30px;">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="400px">返回值</th>
							<th width="400px">返回值说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>字符串</td>
							<td>格式化后的金额,3位一分割,保留两位小数</td>
						</tr>
					</tbody>
				</table>
				<div class="yt-read-text" style="padding-top: 30px;">金额反格式化方法：</div>
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th>方法名</th>
							<th width="400px">参数</th>
							<th width="400px">参数类型</th>
							<th width="480px">参数说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td rowspan="6">rmoney()</td>
							<td>Num</td>
							<td rowspan="6">string</td>
							<td>需要反格式化的金额</td>
						</tr>
					</tbody>
				</table>
				<table class="yt-table" style="margin-top: 30px;">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="400px">返回值</th>
							<th width="400px">返回值说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>字符串</td>
							<td>反格式化后的金额</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>3.代码展现:</p>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">	
					<label class="yt-read-text">金额格式化处理：</label><span class="money-fm"></span>
                <label class="yt-read-text">金额反格式化处理：</label><span class="money-rm"></span>
				<script type="text/javascript">
					//调用金额格式化公用方法
					$(".money-fm").text($yt_baseElement.fmMoney('1500'));
					//调用金额反格式化处理方法
					$(".money-rm").text($yt_baseElement.rmoney('1,500.00'));
				</script>
			</textarea>
			</div>
			<p>4.展示效果:</p>
			<div style="padding-left: 10px;">
			 <div><label class="yt-read-text">金额格式化处理：</label><span class="money-fm"></span></div>
             <div><label class="yt-read-text">金额反格式化处理：</label><span class="money-rm"></span></div>
             </div>
		</div>
	</body>
</html>
<!--引用JS文件START-->
<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
<!--滚动条js-->
<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
<!--引用换肤js-->
<script type="text/javascript" id="themeJs"></script>
<script type="text/javascript" src="../../resources/js/common/yt-common.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/sysCommon.min.js"></script>
<script type="text/javascript" src="../../resources/wordShow/Scripts/shCore.js"></script>
<!--引用JS文件END-->
<script type="text/javascript">
	$(function() {
		//动态调用主系统的换肤js
		document.getElementById("themeJs").src = $yt_themeJs_path;  
		
		//调用获取当前用户信息方法
		sysCommon.getLoginUserInfo($(".yt-form-users-info"));
		
		//调用金额转大写公用方法
		$(".money-up").text(arabiaToChinese('1,500.00'));
		
		//调用金额格式化公用方法
		$(".money-fm").text($yt_baseElement.fmMoney('1500'));
		//调用金额反格式化处理方法
		$(".money-rm").text($yt_baseElement.rmoney('1,500.00'));
	});
</script>