<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" style="overflow: scroll;overflow-x: auto;">

	<head>
		<meta http-equiv="x-ua-compatible" content="ie=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--引用CSS文件START-->
		<!--滚动条样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css" />
		<!--提示信息控件-->
		<link rel="stylesheet" type="text/css" href="../../resources/css/qtip/jquery.qtip.min.css" />
		<link type="text/css" rel="stylesheet" href="../../resources/wordShow/Styles/SyntaxHighlighter.css">
		<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="./resources/css/common/yt-common-ie.min.css"/><![endif]-->
		<!--引用CSS文件END-->
		<title>前端框架规整</title>
	</head>
	<style>
		.letter-four {
			letter-spacing: 5px;
		}
	</style>

	<body>
		<div class="web-criterion-model" style="padding-bottom: 20px;">
			<div class="method-text">导入文件：</div>
			<!--基础表单标签规范START-->
			<p>1.使用条件:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="500px">文件名</th>
							<th width="500px">文件路径</th>
							<th width="400px">文件描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>
								<div>
									<a>yt-common.min.css</a>
								</div>
							</td>
							<td>resources/css/common/yt-common.min.css</td>
							<td>
								<div>引用公用的样式文件</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<a>jquery.min.js</a>
								</div>
							</td>
							<td>resources/js/common/jquery.min.js</td>
							<td>
								<div>引用jquery的js文件</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<a>ajaxfileupload.min.js</a>
								</div>
							</td>
							<td>resources/js/fileUpload/ajaxfileupload.min.js</td>
							<td>
								<div>引用公用上传附件的js文件</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<a>yt-valid.min.js</a>
								</div>
							</td>
							<td>resources/js/valid/yt-valid.min.js</td>
							<td>
								<div>引用字段验证js文件</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<a>yt-common.min.js</a>
								</div>
							</td>
							<td>resources/js/common/yt-common.min.js</td>
							<td>
								<div>引用公用的js文件</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<a>sysCommon.min.js</a>
								</div>
							</td>
							<td>resources/js/common/sysCommon.min.js</td>
							<td>
								<div>引用系统的js文件</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>2.代码展现:</p>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">	
				<button class="yt-option-btn" id="addFunds">导入文件</button>
				<!--导入文件弹出框START-->
				<div id="templateImport" class="yt-edit-alert yt-template-import">
					<div class="yt-edit-alert-title">
						<img src="../../resources/images/common/list.png"><span>导入文件</span>
					</div>
					<div class="yt-edit-alert-main cont-edit-test" style="padding: 20px;">
						<table border="0" cellspacing="0" cellpadding="0" class="form-table">
							<tr>
								<td>
									<span class="not-null">*</span><span class="letter-four">文件名</span>称：
								</td>
								<td>
									<div class="file-up-div">
										<div class="dib" style="vertical-align: middle;display: inline-block;">
											<input class="yt-input file-msg" readonly="readonly" style="width: 220px;" validform="{isNull:true,msg:'请选择文件'}"/>
											<span class="valid-font" style="left: 112px;"></span>
										</div>
										<div style="display: inline-block; margin-left: 15px;position: relative;vertical-align: middle;">
											<input name="file" class="yt-cont-file" id="reimFile" type="file">
											<input type="hidden" id="" value="">
											<button class="yt-option-btn file-upload-btn" id="" style="margin: 0;">请上传</button>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<div class="model-bottom-btn" style="padding-top: 10px;text-align: center;">
							<button class="yt-option-btn" id="importConfirm" style="margin-right: 30px;">确定</button>
							<button class="yt-assist-btn" id="importCancel">取消</button>
						</div>
					</div>
				</div>
				<!--导入文件弹出框END-->
				<script type="text/javascript">
					$(function(){
						 	//存储导入文件弹出框对象
					        var  importModel = $('#templateImport');
					        //点击导入文件按钮事件
							$('#addFunds').on('click', function() {
								 /* 
							     * 调用支持拖拽的方法 
							     */  
							    $yt_model_drag.modelDragEvent($(".yt-edit-alert .yt-edit-alert-title")); 
								//显示导入文件弹出框
								sysCommon.showModel($(importModel));
							});
							//点击取消按钮
							$('#importCancel').on('click', function() {
								//关闭导入文件弹出框
								sysCommon.closeModel($(importModel));
								//初始化导入文件弹出框信息清除验证信息
								$(importModel).find("input").removeClass('valid-hint').val('');
								$(importModel).find(".valid-font").text('');
							});
							//点击确定按钮上传
							$('#importConfirm').on('click', function() {
								//验证字段是否有值
								if($yt_valid.validForm($(importModel))) {
									//获取上传附件Id
									var fileElementId = $(importModel).find("#reimFile").attr("id");
									$.ajaxFileUpload({
										url: '',//导入文件接口访问路径
										type: "post",
										dataType: 'json',
										fileElementId: fileElementId,//上传文件Id
										success: function(data, textStatus) {
											//操作提示信息
											$yt_alert_Model.prompt(data.message);
											if(data.flag == 0) {
												//关闭导入文件弹出框
												sysCommon.closeModel(importModel);
												//初始化导入文件弹出框信息清除验证信息
												$(importModel).find("input").removeClass('valid-hint').val('');
												$(importModel).find(".valid-font").text('');
											}
										},
										error: function(data, status, e) {
											$yt_alert_Model.prompt(data.message);
										}
									});
								}
							});
							//文件选择切换事件
							$(importModel).find("#reimFile").off("change").on("change",function(){
								$(importModel).find("input.file-msg").val($(this).val());
							});
					});
				</script>
			</textarea>
			</div>
			<p>3.展示效果:</p>
			<div style="padding-left: 80px;">
				<button class="yt-option-btn" id="addFunds">导入文件</button>
				<!--导入文件弹出框START-->
				<div id="templateImport" class="yt-edit-alert yt-template-import">
					<div class="yt-edit-alert-title">
						<img src="../../resources/images/common/list.png"><span>导入文件</span>
					</div>
					<div class="yt-edit-alert-main cont-edit-test" style="padding: 20px;">
						<table border="0" cellspacing="0" cellpadding="0" class="form-table">
							<tr>
								<td>
									<span class="not-null">*</span><span class="letter-four">文件名</span>称：
								</td>
								<td>
									<div class="file-up-div">
										<div class="dib" style="vertical-align: middle;display: inline-block;">
											<input class="yt-input file-msg" readonly="readonly" style="width: 220px;" validform="{isNull:true,msg:'请选择文件'}"/>
											<span class="valid-font" style="left: 112px;"></span>
										</div>
										<div style="display: inline-block; margin-left: 15px;position: relative;vertical-align: middle;">
											<input name="file" class="yt-cont-file" id="reimFile" type="file">
											<input type="hidden" id="" value="">
											<button class="yt-option-btn file-upload-btn" id="" style="margin: 0;">请上传</button>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<div class="model-bottom-btn" style="padding-top: 10px;text-align: center;">
							<button class="yt-option-btn" id="importConfirm" style="margin-right: 30px;">确定</button>
							<button class="yt-assist-btn" id="importCancel">取消</button>
						</div>
					</div>
				</div>
				<!--导入文件弹出框END-->
			</div>
		</div>
	</body>

</html>
<!--引用JS文件START-->
<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
<!--滚动条js-->
<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
<!--引用换肤js-->
<script type="text/javascript" id="themeJs"></script>
<script type="text/javascript" src="../../resources/js/fileUpload/ajaxfileupload.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-common.js"></script>
<script type="text/javascript" src="../../resources/js/valid/yt-valid.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/sysCommon.min.js"></script>
<script type="text/javascript" src="../../resources/wordShow/Scripts/shCore.js"></script>
<!--引用JS文件END-->
<script type="text/javascript">
	$(function() {
		//动态调用主系统的换肤js
		document.getElementById("themeJs").src = $yt_themeJs_path;

        //存储导入文件弹出框对象
        var  importModel = $('#templateImport');
        //点击导入文件按钮事件
		$('#addFunds').on('click', function() {
			 /* 
		     * 调用支持拖拽的方法 
		     */  
		    $yt_model_drag.modelDragEvent($(".yt-edit-alert .yt-edit-alert-title")); 
			//显示导入文件弹出框
			sysCommon.showModel($(importModel));
		});
		//点击取消按钮
		$('#importCancel').on('click', function() {
			//关闭导入文件弹出框
			sysCommon.closeModel($(importModel));
			//初始化导入文件弹出框信息清除验证信息
			$(importModel).find("input").removeClass('valid-hint').val('');
			$(importModel).find(".valid-font").text('');
		});
		//点击确定按钮上传
		$('#importConfirm').on('click', function() {
			//验证字段是否有值
			if($yt_valid.validForm($(importModel))) {
				//获取上传附件Id
				var fileElementId = $(importModel).find("#reimFile").attr("id");
				$.ajaxFileUpload({
					url: '',//导入文件接口访问路径
					type: "post",
					dataType: 'json',
					fileElementId: fileElementId,//上传文件Id
					success: function(data, textStatus) {
						//操作提示信息
						$yt_alert_Model.prompt(data.message);
						if(data.flag == 0) {
							//关闭导入文件弹出框
							sysCommon.closeModel(importModel);
							//初始化导入文件弹出框信息清除验证信息
							$(importModel).find("input").removeClass('valid-hint').val('');
							$(importModel).find(".valid-font").text('');
						}
					},
					error: function(data, status, e) {
						$yt_alert_Model.prompt(data.message);
					}
				});
			}
		});
		//文件选择切换事件
		$(importModel).find("#reimFile").off("change").on("change",function(){
			$(importModel).find("input.file-msg").val($(this).val());
		});
	});
</script>