<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--引用CSS文件START-->
		<!--滚动条样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css?YTVERSIONCODE=20180420" />
		<link type="text/css" rel="stylesheet" href="../../resources/wordShow/Styles/SyntaxHighlighter.css">
		<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="../../resources/css/common/yt-common-ie.min.css"/><![endif]-->
		<!--最后引用自己页面的css样式压缩文件，且加上版本号?YTVERSIONCODE=20180420-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/personnel/personnel.min.css?YTVERSIONCODE=2019040801" />
		<!--引用CSS文件END-->
		<title>前端开发体系建设平台</title>
		<style type="text/css">
			.bot-btn-group{
				padding: 30px 10px;
			}
			.bot-btn-group button{
				margin-right: 15px;
			}
		</style>
	</head>
	<body>
		<!--页面主要主体START-->
		<div class="web-criterion-model">
	    <!--写页面按区域划分，且每个区域都要加上注释，START开始END结束-->
	    	<div class="method-text">人员多选可搜索控件：</div>
	    	<!--基础表单标签规范START-->
			<p>1.使用条件:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="500px">文件名</th>
							<th width="500px">文件路径</th>
							<th width="400px">文件描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td><div><a>yt-common.min.css</a></div></td>
							<td>resources/css/common/yt-common.min.css</td>
							<td><div>引用公用的样式文件</div></td>
						</tr>
						<tr>
							<td><div><a>personnel.min.css</a></div></td>
							<td>resources/js/personnel/personnel.min.css</td>
							<td><div>引用人员选择控件样式文件</div></td>
						</tr>
						<tr>
							<td><div><a>jquery.min.js</a></div></td>
							<td>resources/js/common/jquery.min.js</td>
							<td><div>引用jquery的js文件</div></td>
						</tr>
						<tr>
							<td><div><a>yt-common.min.js</a></div></td>
							<td>resources/js/common/yt-common.min.js</td>
							<td><div>引用公用的js文件</div></td>
						</tr>
						<tr>
							<td><div><a>personnel.min.js</a></div></td>
							<td>resources/js/personnel/personnel.min.js</td>
							<td><div>引用人员选择控件js文件</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>2.类样式说明:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="300px">类名</th>
							<th width="480px">描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>
								<div>.yt-users-model</div>
							</td>
							<td>
								<div>已选人员区域公用类名</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>.yt-user-input</div>
							</td>
							<td>
								<div>人员搜索输入框公用类名</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>.yt-users-list</div>
							</td>
							<td>
								<div>人员信息框公用类名</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>3.调用方法:</p>
			<div class="label-code-div-first" style="height: auto">
				<label class="yt-read-text">方法1：usersControl()</label>
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th>方法名</th>
							<th width="400px">参数</th>
							<th width="400px">参数类型</th>
							<th width="480px">参数说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td rowspan="3">usersControl()</td>
							<td>controlClass</td>
							<td>string</td>
							<td>控件类名</td>
						</tr>
						<tr>
							<td>dataUrl</td>
							<td>string</td>
							<td>数据请求路径,接口访问路径,json文件访问路径</td>
						</tr>
						<tr>
							<td>callback</td>
							<td>方法</td>
							<td>回调函数 返回人员数据</td>
						</tr>
					</tbody>
				</table>
				<table class="yt-table" style="margin-top: 30px;">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="400px">返回值</th>
							<th width="400px">返回值说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>无</td>
							<td>无</td>
						</tr>
					</tbody>
				</table>
				<div  style="padding-top: 20px;">
					<label class="yt-read-text">方法2：setUsersChoose()</label>
					<span class="font-red" style="margin-left: 10px;">注:此方法通常在表单进行修改操作时使用,对字段进行赋值操作。</span>
					<table class="yt-table">
						<thead class="yt-thead the-inner">
							<tr>
								<th>方法名</th>
								<th width="400px">参数</th>
								<th width="400px">参数类型</th>
								<th width="480px">参数说明</th>
							</tr>
						</thead>
						<tbody class="yt-tbody">
							<tr>
								<td>setUsersChoose()</td>
								<td>opt</td>
								<td>string</td>
								<td>人员的code值逗号串联字符串<br/>示例:userCode = ","+"wuyiju,liuguangguo,zhangwei,douwei,";</td>
							</tr>
						</tbody>
					</table>
					<table class="yt-table" style="margin-top: 30px;">
						<thead class="yt-thead the-inner">
							<tr>
								<th width="400px">返回值</th>
								<th width="400px">返回值说明</th>
							</tr>
						</thead>
						<tbody class="yt-tbody">
							<tr>
								<td>无</td>
								<td>无</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<p>4.代码展现:</p><a style="margin: 20px;" class="yt-read-text yt-link down-link">下载控件核心文件包</a>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
				<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
					<head>
						<meta http-equiv="x-ua-compatible" content="ie=Edge" />
						<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
						<!--引用CSS文件START-->
						<!--滚动条样式-->
						<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css?YTVERSIONCODE=20180420" />
						<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="../../resources/css/common/yt-common-ie.min.css"/><![endif]-->
						<!--最后引用自己页面的css样式压缩文件，且加上版本号?YTVERSIONCODE=20180420-->
						<link rel="stylesheet" type="text/css" href="../../resources/js/personnel/personnel.min.css?YTVERSIONCODE=2019040801" />
						<!--引用CSS文件END-->
						<title>前端开发体系建设平台</title>
					</head>
				<body>
					<!--人员选择START-->
					<table>
						<tr>
							<td valign="top" style="padding-top: 5px;"><label><span style="letter-spacing: 5px;">出差</span>人：</label></td>
							<td class="person-model"></td>
						</tr>
					</table>
					<!--人员选择END-->
				</body>
				<!--引用JS文件START-->
				<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
				<!--滚动条js-->
				<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
				<!--引用配置文件-->
				<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
				<!--引用换肤js-->
				<script type="text/javascript" id="themeJs"></script>
				<!--引用公用文件-->
				<script type="text/javascript" src="../../resources/js/common/yt-common.min.js?YTVERSIONCODE=2018042601"></script>
				<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js?YTVERSIONCODE=2018042601"></script>
				<!--最后引用自己页面的js压缩文件,且加上版本号?YTVERSIONCODE=20180420-->
				<script type="text/javascript" src="../../resources/js/personnel/personnel.min.js?YTVERSIONCODE=2019040801"></script>
				<script type="text/javascript">
					$(function(){
						//调用人员选择控件
						$(".person-model").usersControl({
							controlClass:'bus-users-list',//控件类名
							dataUrl:$yt_option.websit_path+'resources/js/personnel/usersList.json',//数据请求路径,接口访问路径,json文件访问路径
							callback: function() {}
						});
						
						//接收人员code
						var userCode = "";
						//点击获取选中的人员信息按钮事件
						$(".get-btn").click(function(){
							//接收人员中文名
							var userName = "";
							//遍历所有已选择的人员对象
							$(".yt-users-model .user-obj").each(function(i,n){
								userCode +=$(n).data("userData").userItcode+",";
								userName +=$(n).data("userData").userName+"、";
							});
							$(".sel-users").text(userCode+userName);
						});
						//设置人员选中
						$(".set-btn").click(function(){
							userCode = ","+"wuyiju,liuguangguo,zhangwei,douwei,";
							//调用人员选中控件赋值选中方法
							$(".person-model").setUsersChoose(userCode);
						});
						//清除所有选中的人员初始化
						$(".del-btn").click(function(){
							//清除所有已选的人员
							$('.yt-users-model .user-obj').remove();
							//清除人员信息列表人员选中的样式
							$(".yt-users-list li:not(.more-data)").removeClass("user-check-li");
							//隐藏人员信息列表框
							$(".yt-users-list").hide();
						});
						
					});
				</script>
				</html>
			</textarea>
			</div>
			<p>5.展示效果:</p>
			<div>
				<p class="yt-read-text">在输入框中点击已选择的人员，右键菜单可对人员进行删除操作。(初始显示前20条数据,点击加载更多每次加载20条数据)</p>
			</div>
			<div style="padding: 10px;">
				<!--人员选择START-->
				<table>
					<tr>
						<td valign="top" style="padding-top: 5px;"><label><span style="letter-spacing: 5px;">出差</span>人：</label></td>
						<td class="person-model"></td>
					</tr>
				</table>
				<!--人员选择END-->
				<div class="bot-btn-group">
					  <button class="yt-option-btn get-btn">获取选中的人员信息</button>
					  <button class="yt-option-btn set-btn">赋值已选中的人员</button>
					  <button class="yt-option-btn del-btn">清除所有选中的人员</button>
				</div>
				<div><span class="sel-users"></span></div>
			</div>
		</div>
		<!--页面主要主体END-->
	</body>
	<!--引用JS文件START-->
	<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
	<!--滚动条js-->
	<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
	<!--引用配置文件-->
	<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
	<!--引用换肤js-->
	<script type="text/javascript" id="themeJs"></script>
	<!--引用公用文件-->
	<script type="text/javascript" src="../../resources/js/common/yt-common.min.js?YTVERSIONCODE=2018042601"></script>
	<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js?YTVERSIONCODE=2018042601"></script>
	<!--最后引用自己页面的js压缩文件,且加上版本号?YTVERSIONCODE=20180420-->
	<script type="text/javascript" src="../../resources/js/personnel/personnel.min.js?YTVERSIONCODE=2019041606"></script>
	<script type="text/javascript" src="../../resources/wordShow/Scripts/shCore.js"></script>
	<!--引用JS文件END-->
	<script type="text/javascript">
		document.getElementById("themeJs").src = $yt_themeJs_path;  
		$(function(){
			//调用人员选择控件
			$(".person-model").usersControl({
				controlClass:'bus-users-list',//控件类名
				dataUrl:$yt_option.websit_path+'resources/js/personnel/usersList.json',//数据请求路径,接口访问路径,json文件访问路径
				callback: function() {}
			});
			//接收人员code
			var userCode = "";
			//点击获取选中的人员信息按钮事件
			$(".get-btn").click(function(){
				//接收人员中文名
				var userName = "";
				//遍历所有已选择的人员对象
				$(".yt-users-model .user-obj").each(function(i,n){
					userCode +=$(n).data("userData").userItcode+",";
					userName +=$(n).data("userData").userName+"、";
				});
				$(".sel-users").text(userCode+userName);
			});
			//设置人员选中
			$(".set-btn").click(function(){
				userCode = ","+"wuyiju,liuguangguo,zhangwei,douwei,";
				//调用人员选中控件赋值选中方法
				$(".person-model").setUsersChoose(userCode);
			});
			//清除所有选中的人员
			$(".del-btn").click(function(){
				//清除所有已选的人员
				$('.yt-users-model .user-obj').remove();
				//清除人员信息列表人员选中的样式
				$(".yt-users-list li:not(.more-data)").removeClass("user-check-li");
				//隐藏人员信息列表框
				$(".yt-users-list").hide();
			});
			
			
			
			/**
			 * 
			 * 点击下载核心文件
			 * 
			 */
			$(".down-link").click(function(){
				var fileUrl ='document/control/personnel.zip';
				var  downLoadUrl = encodeURI($yt_option.websit_path+fileUrl);
				 if ($yt_baseElement.myBrowser() ==="IE" || $yt_baseElement.myBrowser() ==="Edge"){
		            var oPop = window.open(downLoadUrl,"","width=1, height=1, top=5000, left=5000");
		            for(; oPop.document.readyState != "complete"; )
		            {
		                if (oPop.document.readyState == "complete")break;
		            }
		            oPop.document.execCommand("SaveAs");
		            oPop.close();
		        }else{
		            this.href=downLoadUrl;
		            this.download="personnel.zip";
		        }
		 	});
		});
	</script>	
</html>