<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" style="overflow: scroll;overflow-x: auto;">

	<head>
		<meta http-equiv="x-ua-compatible" content="ie=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--引用CSS文件START-->
		<!--滚动条样式-->
		<link rel="stylesheet" type="text/css" href="../../resources/js/scroll/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/ytBanner/yt-banner.css">
		<link type="text/css" rel="stylesheet" href="../../resources/wordShow/Styles/SyntaxHighlighter.css">
		<!--[if lt IE 9 ]><link rel="stylesheet" type="text/css" href="./resources/css/common/yt-common-ie.min.css"/><![endif]-->
		<!--引用CSS文件END-->
		<title>前端框架规整</title>
	</head>

	<body>
		<style>
			button.btn {
				width: 100px;
			}
		</style>
		<div class="web-criterion-model">
			<div class="method-text">轮播控件：</div>
			<p>1.使用条件:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="500px">文件名</th>
							<th width="500px">文件路径</th>
							<th width="400px">文件描述</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td><div>yt-banner.min.css</div></td>
							<td>resources/css/ytBanner/yt-banner.min.css</td>
							<td><div>引用轮播图样式文件</div></td>
						</tr>
						<tr>
							<td><div>jquery.min.js</div></td>
							<td>resources/js/common/jquery.min.js</td>
							<td><div>引用jquery的js文件</div></td>
						</tr>
						<tr>
							<td><div>yt-banner.min.js</div></td>
							<td>resources/js/ytBanner/yt-banner.min.js</td>
							<td><div>引用轮播图样式文件</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>2.参数列表:</p>
			<div class="label-code-div-first" style="height: auto">
				<table class="yt-table">
					<thead class="yt-thead the-inner">
						<tr>
							<th width="300px">命名</th>
							<th width="480px">类型</th>
							<th width="480px">可选值</th>
							<th width="480px">默认值</th>
							<th width="480px">说明</th>
						</tr>
					</thead>
					<tbody class="yt-tbody">
						<tr>
							<td>
								<div>animation</div>
							</td>
							<td>
								<div>[String]</div>
							</td>
							<td>
								<div>'slide', 'fade', 'flash', 'none'</div>
							</td>
							<td>
								<div>'slide'</div>
							</td>
							<td>
								<div>动画模式（不支持垂直方向的图片滑动切换）</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>adaptive</div>
							</td>
							<td>
								<div>[Boolean]</div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div>false</div>
							</td>
							<td>
								<div>轮播图片的宽度自适应</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>useHover</div>
							</td>
							<td>
								<div>[Boolean] </div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div>false</div>
							</td>
							<td>
								<div>导航按钮和缩略图使用 hover 事件触发动画</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>arrow</div>
							</td>
							<td>
								<div>[Boolean]</div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div>false</div>
							</td>
							<td>
								<div>显示导航箭头</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>btn</div>
							</td>
							<td>
								<div>[Boolean]</div>
							</td>
							<td>
								<div>true, false, 'ol'</div>
							</td>
							<td>
								<div>false</div>
							</td>
							<td>
								<div>显示导航按钮（使用 'ol' 在导航按钮中添加序列数字）</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>auto</div>
							</td>
							<td>
								<div>[Number]</div>
							</td>
							<td>
								<div>0或正整数</div>
							</td>
							<td>
								<div>5000</div>
							</td>
							<td>
								<div>自动轮播每次的间隔[毫秒]（为0时禁用自动轮播）</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>duration</div>
							</td>
							<td>
								<div>[Number]</div>
							</td>
							<td>
								<div>正整数</div>
							</td>
							<td>
								<div>800</div>
							</td>
							<td>
								<div>动画速度[毫秒]</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>init</div>
							</td>
							<td>
								<div>[Function] </div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div>$.noop</div>
							</td>
							<td>
								<div>轮播初始化时执行的回调函数 function ($banner, $item) { } - $banner：轮播容器 - $item：轮播图片列表项</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>before</div>
							</td>
							<td>
								<div>[Function] </div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div>$.noop</div>
							</td>
							<td>
								<div>动画开始时执行的回调函数 function ($banner, $item, currentIndex) { } - $banner, $item与init回调函数的一样 - currentIndex：当前显示图片的索引</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>after</div>
							</td>
							<td>
								<div>[Function] </div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div>$.noop</div>
							</td>
							<td>
								<div>动画完成时执行的回调函数 function ($banner, $item, currentIndex) { } - 参数与before回调函数的一样</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>thumb</div>
							</td>
							<td>
								<div>[Object]</div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div>
									{ }</div>
							</td>
							<td>
								<div>缩略图 参数是对象类型，包含4个属性 - width: 缩略图的宽度 - height: 缩略图的高亮 - gap: 缩略图的水平外边距 - visible : 缩略图显示的数量</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>3.实例(基础):</p>

			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				//基础样式
				<link rel="stylesheet" type="text/css" href="../../resources/css/ytBanner/yt-banner.css">
	            <div id="adaptive" style="width: 800px;height: 400px;">
	                <ul>
	                    <li><img src="../../resources/images/test/banner-1.jpg"></li>
	                    <li><img src="../../resources/images/test/banner-2.jpg"></li>
	                    <li><img src="../../resources/images/test/banner-3.jpg"></li>
	                    <li><img src="../../resources/images/test/banner-4.jpg"></li>
	                    <li><img src="../../resources/images/test/banner-5.jpg"></li>
	                    <li><img src="../../resources/images/test/banner-6.jpg"></li>
	                </ul>
	            </div>
				<script type="text/javascript" src="../../resources/js/ytBanner/yt-banner.min.js"></script>
				<script>
					$(function() {
						// 初始化
						$('#adaptive').ytBanner();
					
					});
				</script>
	            
           	</textarea>
			</div>
			<div style="margin-left: 82px;">
				<div id="adaptive" style="width: 800px;height: 400px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
			</div>
			<p>4.实例(自定义样式):</p>

			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				<style>
				.custom .tb-arrow a{
				    width: 64px;
				    height: 64px;
				    margin: 0 20px;
				    opacity: 0;
				    -webkit-transition: all .3s;
				    transition: all .3s;
				}
				/* ... */
				
				.custom .tb-btn{
				    bottom: 0 !important;
				    height: 10px;
				}
				.custom .tb-btn a{
				    width: 160px;
				    margin: 0;
				    box-sizing: border-box;
				    background: #666;
				    border-right: 1px solid #fff;
				    border-radius: 0;
				}
				/* ... */
				</style>
	            //基础样式
				<link rel="stylesheet" type="text/css" href="../../resources/css/ytBanner/yt-banner.css">
	            <div class="custom" id="custom" style="width: 798px;height: 400px;">
		            <ul>
		                <li><img src="../../resources/images/test/banner-1.jpg"></li>
		                <li><img src="../../resources/images/test/banner-2.jpg"></li>
		                <li><img src="../../resources/images/test/banner-3.jpg"></li>
		                <li><img src="../../resources/images/test/banner-4.jpg"></li>
		                <li><img src="../../resources/images/test/banner-5.jpg"></li>
		                <li><img src="../../resources/images/test/banner-6.jpg"></li>
		            </ul>
		        </div>
				<script type="text/javascript" src="../../resources/js/ytBanner/yt-banner.min.js"></script>
				<script>
					 $(function() {  
				        // 初始化
						$('#custom').ytBanner();
				    });  
				</script>
           	</textarea>
			</div>
			<style>
				.custom .tb-arrow a {
					width: 64px;
					height: 64px;
					margin: 0 20px;
					opacity: 0;
					-webkit-transition: all .3s;
					transition: all .3s;
				}
				/* ... */
				
				.custom .tb-btn {
					bottom: 0 !important;
					height: 10px;
					left: 0 !important;
				}
				
				.custom .tb-btn a {
					width: 133px;
					margin: 0;
					box-sizing: border-box;
					background: #666;
					border-right: 1px solid #fff;
					border-radius: 0;
				}
				/* ... */
			</style>
			<div style="margin-left: 82px;">
				<div class="custom" id="custom" style="width: 798px;height: 400px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
			</div>
			<p>5.实例(动画):</p>
			<label style="margin-left: 10px; font-size: 14px;">4种动画方式：slide, fade, flash, none（flash模式是fade模式的简化，图片切换时可以出现闪烁的白色背景） </label>
			<br /><label style="margin-left: 10px; font-size: 14px;">PS：slide模式不支持垂直方向的滑动</label>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				
				<script>
					$(function() {
						// 初始化
						$('#adaptive1').ytBanner({
							adaptive: true,// 自适应
							arrow: true,// 左右箭头
							animation: 'slide'
						});
					
					});
				</script>
           	</textarea>
			</div>
			<div style="margin-left: 82px;">
				<div id="adaptive2" style="width: 798px;height: 400px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
			</div>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				
				<script>
					$(function() {
						// 初始化
						$('#adaptive1').ytBanner({
							adaptive: true,// 自适应
							arrow: true,// 左右箭头
							animation: 'fade'
						});
					
					});
				</script>
           	</textarea>
			</div>
			<div style="margin-left: 82px;">
				<div id="adaptive3" style="width: 798px;height: 400px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
			</div>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				
				<script>
					$(function() {
						// 初始化
						$('#adaptive1').ytBanner({
							adaptive: true,// 自适应
							arrow: true,// 左右箭头
							animation: 'flash'
						});
					
					});
				</script>
           	</textarea>
			</div>
			<div style="margin-left: 82px;">
				<div id="adaptive4" style="width: 798px;height: 400px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
			</div>
			<p>6.实例(缩略图):</p>
			<label style="margin-left: 10px; font-size: 14px;">自动截取原始图片的一部分作为缩略图，缩略图列表超出容器时自动添加列表滑动按钮</label>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				
				<script>
					$('#thumbnail').ytBanner({
					    btn: false,
					    thumb: {
					         width: 150,//缩略图宽度
					        height: 84,//缩略图高度
					        gap: 4,//缩略图间距
					        visible: 3//缩略图数量
					    }
					});
				</script>
           	</textarea>
			</div>
			<style>
				.tb-thumb a {
					top: 30px !important;
				}
			</style>
			<div style="margin-left: 82px;">
				<div class="banner" id="thumbnail" style="width: 798px;height: 500px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
			</div>
			<p>7.实例(回调函数):</p>
			<label style="margin-left: 10px; font-size: 14px;">init, before, after</label><br />
            <label style="margin-left: 10px; font-size: 14px;">可以传入的参数为 $banner, $item, currentIndex（参数说明在参数列表中）</label>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				
				<script>
					$('#thumbnail').ytBanner({
					    arrow: true,
					    init: function ($banner, $item) {
					        $item.each(function(i) {
					            $(this).append('<em>' + (i + 1) +'</e>');
					        });
					    },
					    before: function ($banner, $item, currentIndex) {
					        $item.eq(currentIndex).find('em').css({
					            top: -120,
					            opacity: 0
					        });
					    },
					    after: function ($banner, $item, currentIndex) {
					        $item.eq(currentIndex).find('em').css({
					            top: 210,
					            opacity: 1
					        });
					    }
					});
				</script>
           	</textarea>
			</div>
			<style>
				.tb-thumb a {
					top: 30px !important;
				}
			</style>
			<div style="margin-left: 82px;">
				<div class="banner callback" id="callback" style="width: 798px;height: 500px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
			</div>
			<p>8.实例(切换):</p>
			<label style="margin-left: 10px; font-size: 14px;">可以在自定义的事件中切换轮播图片，给方法 terseBanner() 传递一个参数：'prev' | 'next' | [Number]</label>
			<div class="label-code-div">
				<textarea cols="50" rows="15" name="code" class="javaScript">
				
				<script>
					$('.prev').click(function() {
					    $('#switch').ytBanner('prev');
					});
					
					$('.next').click(function() {
					    $('#switch').ytBanner('next');
					});
					
					$('.switch-num').click(function() {
					    $('#switch').ytBanner(parseInt($(this).text()));
					});
				</script>
           	</textarea>
			</div>
			<style>
				.tb-thumb a {
					top: 30px !important;
				}
			</style>
			<div style="margin-left: 82px;">
				<div class="banner" id="switch" style="width: 798px;height: 500px;">
					<ul>
						<li><img src="../../resources/images/test/banner-1.jpg"></li>
						<li><img src="../../resources/images/test/banner-2.jpg"></li>
						<li><img src="../../resources/images/test/banner-3.jpg"></li>
						<li><img src="../../resources/images/test/banner-4.jpg"></li>
						<li><img src="../../resources/images/test/banner-5.jpg"></li>
						<li><img src="../../resources/images/test/banner-6.jpg"></li>
					</ul>
				</div>
				<button class="prev btn">上一页</button>
				<button class="switch-num btn">1</button>
				<button class="switch-num btn">2</button>
				<button class="switch-num btn">3</button>
				<button class="switch-num btn">4</button>
				<button class="next btn">下一页</button>
			</div>
		</div>
	</body>

</html>
<!--引用JS文件START-->
<script type="text/javascript" src="../../resources/js/common/jquery.min.js"></script>
<!--滚动条js-->
<script type="text/javascript" src="../../resources/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../../resources/js/ytBanner/yt-banner.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-option.js"></script>
<!--引用换肤js-->
<script type="text/javascript" id="themeJs"></script>
<script type="text/javascript" src="../../resources/js/common/yt-common.min.js"></script>
<script type="text/javascript" src="../../resources/js/common/yt-frame.min.js"></script>
<script type="text/javascript" src="../../resources/wordShow/Scripts/shCore.js"></script>
<!--引用JS文件END-->
<script>
	$(function() {
		//动态调用主系统的换肤js
		document.getElementById("themeJs").src = $yt_themeJs_path;
		
		
		// 初始化
		$('#adaptive').ytBanner();
		// 初始化
		$('#custom').ytBanner();
		// 初始化
		$('#adaptive2').ytBanner({
			adaptive: true, // 自适应
			arrow: true, // 左右箭头
			animation: 'slide'
		});
		// 初始化
		$('#adaptive3').ytBanner({
			adaptive: true, // 自适应
			arrow: true, // 左右箭头
			animation: 'fade'
		});
		// 初始化
		$('#adaptive4').ytBanner({
			adaptive: true, // 自适应
			arrow: true, // 左右箭头
			animation: 'flash'
		});
		$('#thumbnail').ytBanner({
			btn: false, //下方圆点按钮
			thumb: {
				width: 150, //缩略图宽度
				height: 84, //缩略图高度
				gap: 4, //缩略图间距
				visible: 3 //缩略图数量
			}
		});
		$('#callback').ytBanner({
			arrow: true,
			init: function($banner, $item) {
				$item.each(function(i) {
					$(this).append('<em>' + (i + 1) + '</e>');
				});
			},
			before: function($banner, $item, currentIndex) {
				$item.eq(currentIndex).find('em').css({
					top: -120,
					opacity: 0
				});
			},
			after: function($banner, $item, currentIndex) {
				$item.eq(currentIndex).find('em').css({
					top: 210,
					opacity: 1
				});
			}
		});
		$(function() {
			$('#switch').ytBanner();
			$('.prev').click(function() {
				$('#switch').ytBanner('prev');
			});

			$('.next').click(function() {
				$('#switch').ytBanner('next');
			});

			$('.switch-num').click(function() {
				$('#switch').ytBanner(parseInt($(this).text()));
			});
		})
	});
</script>