<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>分页控件</title>
	<link rel="stylesheet" type="text/css" href="{basePath}resources/css/yt-common.min.css"/>
	<link rel="stylesheet" type="text/css" href="{basePath}resources/css/page/yt-page.min.css">
</head>
<body>
	  <!--分页START-->  
	  <div class="page-info table-page" onselectstart="return false"></div>  
	 <!--分页END-->  
</body>
<script type="text/javascript" src="{basePath}resources/js/jquery.min.js"></script>
<script type="text/javascript" src="{basePath}resources/js/yt-common.min.js"></script>
<script type="text/javascript" src="{basePath}resources/js/page/yt-page.min.js"></script>
<script type="text/javascript">
$(function() {  
    /** 
     * 调用分页方法 
     * $('页面分页区域自定义的类名或ID'); 
     */  
    $('.table-page').pageInfo({  
        pageIndex: 1,  
        pageNum: 15, //每页显示条数  
        pageSize: 5, //显示...的规律  
        ajax:{  
            url: '{basePath}resources/css/page/page.json', //ajax访问路径  
            type: "get", //ajax访问方式 默认 "post"  
            async: false, //ajax 访问类型 默认 true 异步,false同步  
            data: {  
                name: '123',  
                sex: 1  
            }, //ajax查询访问参数  
            /** 
             * ajax回调函数  
             * @param {Object} data 列表数据 
             * @param {Object} pageObj 分页参数对象 
             */  
            success: function(data,pageObj) {  
                //pageObj.pageNum //每页条数  
                //pageObj.pageSize //显示...的规律  
                //pageObj.total //默认的总页数  
                //pageObj.isSelPageNum //开启每页条数筛选  
                //赋值总条数  
                pageObj.total = data.total;  
                //每页条数  
                pageObj.pageNum = 10;  
            }  
        },   
        isSelPageNum: true //是否显示选择条数列表默认false,  
    });  
});  
</script>
</html>